@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');





.bibliografia{
    line-height: 30px;
    font-size: 15px;
}

.bloco-conteudo{
    width: auto !important;
    background-color: #F2F2F2;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 25px;
    padding: 30px;
}


